*{
    color: #878482;
    font-family: "Verdana";
    font-size: 1rem;
}

.custom-container{
    height: 100vh;
}

section > header > h1{
    font-size: 2rem;
    position: relative;
    margin-bottom: 40px;
}

section > header > h1::after{
    content: " ";
    display: block;
    border-bottom: 1px solid #878482;
    width: 500%;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-btn-link{
    color: darkorange;
}

.custom-row, #accordion{
    width: 100%;
}